{% extends 'base.html' %}
{% load static %}

{% block custom_script %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javaScript">
        function eventKeyup(str){
            let str2 = str.slice(3, 10)
            $("#afterAmt").val(str2);    // jQuery 이용
        }
        $(function(){
            $("button[name=cur_focus]").click(function(){
                $("input[name=beforeAmt]").focus();
            });
            $("button[name=cur_focus2]").click(function(){
                $("input[name=beforeAmt2]").focus();
            });
        });
    </script>
{% endblock custom_script %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'equipments/equip_register.css' %}">
{% endblock custom_css %}

{%block content%}
<div class="alert alert-{{ messages.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {% if messages %}
	{% for message in messages %}
		{% comment %} {{ message.tags }} {% endcomment %}
		{{ message.message }}
	{% endfor %}
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="subtitle">
            <h1>기자재 등록</h1>
        </div>
    </div>
    <div class="row">
        <div class="rentform ">
            <form id="rent_form" action="" method="post" onkeydown="return event.key != 'Enter';" enctype="multipart/form-data">
                                                        <!-- 바코드 스캔 시 자동으로 제출되는 것 방지-->
                {% csrf_token %}
                {{equipment_form.as_p}}
                <input type="submit" value="등록"> 
            </form>
        </div>
    </div>
</div>

{%endblock%}